---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Opieka nad psami Rumia Gdynia";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<h2>Kalendarz rezerwacji</h2>
		<p>Kalendarz Google, żeby zobaczyć kalendarz należy otworzyć go w przeglądarce w której jest się zalogowowanym przez konto Google.</p>
		<iframe src="https://calendar.google.com/calendar/embed?src=ndemytruk%40gmail.com&ctz=Europe%2FWarsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		<p>Rezerwacje dokonywane są tylko przez sms, telefon lub email.</p>
		<p>Jeśli w danym terminie wpisane jest imię zwierzaka, termin jest zajęty.</p>

		<Footer />
	</body>
</html>
